@use 'colors';
@use 'extends';

.app-finder-container{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;
    > section{
        display: flex;
        flex-direction: column;
        border-radius: 4px;
        @extend %box-shadow;
        padding: 16px 8px;
        width: 50%;
        background-color: colors.$white;
    }
}

.app-finder-button-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    > *{
        margin: 4px;
    }
}

.app-finder-head-text{
    margin: 0;
    font-size: 3rem;
    @extend %black-text;
    margin: 16px;
}

.app-finder-box-text{
    margin: 0;
    font-size: 2rem;
    @extend %black-text;
    margin: 16px;
}

.app-finder-solution{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.solution-cards-container{
    display: flex;
}

.progress-bar{
    height: 30px;
    background-color: colors.$red;
    width: 50%;
    padding: 8px;
    border-radius: 4px;    
}

.tool-nav-container{
    display: flex;
    justify-content: center;
    > button{
        margin: 16px;
        padding: 8px 16px;
    }
}

.app-finder-page{
    position: relative;
    min-height: 55vh;
}