@use 'colors';
@use 'extends';

.card{
    padding: 0;
    margin: 4px;
    border: none;
    position: relative;
    display: flex;
    flex-direction: column;

    background-color: colors.$red;

    max-width: 256px;
}

.card-frame{
    margin: 0;
    overflow: hidden;
    background-color: white;    aspect-ratio: 1/1;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.card-image{
    height: 100%;
}

.card-text{
    @extend %white-text;
    font-size: 1.5rem;
    margin: 16px;
    text-align: center;
}