@use 'colors';
@use 'extends';

  header, footer, .fixed-header {
    z-index: 2;
    background-color: colors.$red;
    height: 10vh;
    min-height: 64px;
    width: 100%;
    display: grid;
    grid-template-columns: auto min-content min-content;
    grid-template-rows: auto;
    box-shadow: 0px 0px 16px colors.$fade;
    > * {
      height: 10vh;
      margin: 0 8px 0 8px;
    }
    > button {
      width: 48px;
      height: 100%;
      background: none;
      border: none;
      > img{
        width: 100%;
        height: 100%;
      }
    }
  }

  .fixed-header{
    position: fixed;
  }
  
  .footer-text{
    @extend %white-text;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    margin: auto 16px;
  }

  .socials{
    display: flex;
    > button{
      border: none;
      background-color: transparent;
      > img{
        height: 40%;
      }
    }
  }
  #logo{
    height: 100%;
    width: 150px;
  }

  nav.mobile-nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: colors.$white;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 93px;
    z-index: 1;
    height: 100%;
    position: fixed;
    @extend %box-shadow;
    > * {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      background-color: colors.$white;
      > * {
        text-decoration: none;
        color: colors.$black;
        font-size: 2.25rem;
        text-align: right;
        padding: 8px;
      }
    }
  }