@use 'colors';
@use 'extends';

.break-flow-container{
    min-height: 100px;
}

#appfinder-quicklink{
    @extend %white-text;
    @extend %box-shadow;
    min-width: 200px;
    max-width: 300px;
    min-height: 100px;
    width: 60%;
    padding: 8px 16px;
    background-color: colors.$red;
    border-radius: 4px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: -16px;
    > h2{
        margin: 0;
    }
}

#page-segment{
    margin: 32px;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    > h2{
        max-width: 200px;
        font-size: 2rem;
        @extend %black-text;
    }
}

.browse-quicklinks{
    display: flex;
    align-items: center;
    justify-content: center;
}