@use 'colors';
@use 'extends';

.products-layout{
    justify-content: flex-start;
    height: 100%;

}

.products{
    z-index: 1;
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.product-search{
    width: 75%;
    z-index: 1;
    margin: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-container{
    border: none;
    margin: none;
    padding: none;
    height: 2rem;
    border: 1px solid colors.$fade;
    border-radius: 2rem;
    width: 50%;
    background-color: white;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
}

.search{
    border: none;
    margin-left: 1rem;
    height: 100%;
    font-size: 1rem;
    color: colors.$fade;
}

.product-page{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-name{
    margin: 32px;
}

.product-info-container{
    z-index: 1;
    display: flex;
    flex-direction: row;
    margin: 32px;
    width: 75%;
}

.product-image-frame{
    max-width: 1080px;
    width: 50%;
    height: fit-content; 
    margin: 8px;
    border-radius: 4px;
    overflow: hidden;
    @extend %box-shadow;
    > *{
        width: 100%;
    }
}

.product-specs-container{
    width: 50%;
    padding: 0 32px;
}

.product-specs{
    > *{
        margin: 0;
        @extend %white-text;
    }
    > ul{
        list-style-type: square;
        > li{
            font-size: 1.1rem;

        }
    }
}

.price, .power-list{
    background-color: colors.$red;
    border-radius: 4px;
    padding: 16px;
    margin: 8px 0;
    text-align: left;
    > h2{
        margin: 0;
        text-align: left;
    }
    > ul{
        margin: 0;
        > li{
            text-align: left;
        }
    }
}

.product-details{
    background-color: colors.$red;
    border-radius: 4px;
    padding: 8px;
    @extend %white-text;
    text-align: left;
}

.red-list{
    background-color: colors.$red;
    margin: 8px;
}

@media only screen and (max-width: 600px){
    .product-info-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .product-image-frame{
        width: 100%;
    }
    
    .product-specs-container{
        width: 100%;
    }
}