// sass --watch input.scss output.css


@use 'header';
@use 'colors';
@use 'imageBanner';
@use 'pageSegment';
@use 'card';
@use 'redbar';
@use 'buttons';
@use 'appFinder';
@use 'products';

*{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
}

*:focus {
    outline: none;
}

button{
    cursor: pointer;
}

html, body{
    margin: 0;
    padding: 0;
    background-color: colors.$white;
}

.App{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    min-height: 100vh;
    position: relative;
}