// sass --watch input.scss output.css


@use 'header';
@use 'colors';
@use 'imageBanner';
@use 'productsQuick';

*{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: colors.$white;
}

#root{
    height: 100%;
}

.App{
    height: 100%;
    display: flex;
    flex-direction: column;
}

main{
    height: 100%;
}