.red-bar > *, .card-text, #appfinder-quicklink, .image-overlay > *, .footer-text {
  color: #F5F5F5;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  margin: 0;
}

.app-finder-head-text, .app-finder-box-text, .page-segment > h2 {
  color: #353535;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  margin: 0;
}

.app-finder-container > section, .red-button, .white-button, .card, #appfinder-quicklink {
  box-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.25);
}

header, footer {
  z-index: 1;
  background-color: #D73648;
  height: 10vh;
  min-height: 64px;
  width: 100%;
  display: grid;
  grid-template-columns: auto min-content min-content;
  grid-template-rows: auto;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.4784313725);
}
header > *, footer > * {
  height: 10vh;
  margin: 0 8px 0 8px;
}
header > button, footer > button {
  width: 48px;
  height: 100%;
  background: none;
  border: none;
}
header > button > img, footer > button > img {
  width: 100%;
  height: 100%;
}

.footer-text {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  margin: auto 16px;
}

.socials {
  display: flex;
}
.socials > button {
  border: none;
  background-color: transparent;
}
.socials > button > img {
  height: 40%;
}

#logo {
  height: 100%;
  width: 150px;
}

nav.mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #F5F5F5;
  height: 100%;
}
nav.mobile-nav > * {
  text-decoration: none;
  color: #353535;
  font-size: 2.25rem;
  text-align: right;
  margin: 4px;
}

.image-banner {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 45vh;
}

.image-overlay {
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  position: absolute;
  box-shadow: inset 0 0 100vw #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.image-overlay > h1 {
  font-size: 3rem;
}
.image-overlay > h3 {
  font-size: 1.5rem;
}
.image-overlay > img {
  width: 50%;
  max-width: 175px;
  margin-top: 32px;
}

@media (orientation: landscape) {
  .image-banner > img {
    object-fit: cover;
    max-width: 100%;
    max-height: none;
  }
}
@media (orientation: portrait) {
  .image-banner > img {
    object-fit: cover;
    min-width: 100%;
    max-height: 100%;
  }
}
@media (max-height: 600px) {
  .image-overlay > h1 {
    font-size: 2rem;
  }
  .image-overlay > h3 {
    font-size: 1.25rem;
  }
}
#appfinder-quicklink {
  min-width: 200px;
  max-width: 300px;
  min-height: 100px;
  width: 60%;
  padding: 8px 16px;
  background-color: #D73648;
  border-radius: 4px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: -16px;
}
#appfinder-quicklink > h2 {
  margin: 0;
}

.break-flow-container {
  height: 120px;
  width: 100%;
}

.page-segment {
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.page-segment > h2 {
  max-width: 200px;
  font-size: 2rem;
}

.page-segment-container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.art-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.browse-quicklinks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
}

.hex-art {
  width: 320px;
}

.alt-position {
  position: absolute;
  bottom: 0;
  right: 0;
  rotate: 180deg;
}

.training-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 75%;
}

.training-text {
  font-size: 3rem;
  width: 500px;
  text-align: center;
}

.training-red-bars-container {
  width: 50%;
  min-width: 320px;
}

@media (max-width: 600px) {
  .training-text {
    font-size: 2rem;
  }
}
.card {
  padding: 0;
  margin: 4px;
  border: none;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background-color: #D73648;
  overflow: hidden;
  width: 100%;
  max-width: 200px;
}

.card-frame {
  margin: 0;
  overflow: hidden;
  background-color: white;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.card-image {
  height: 100%;
}

.card-text {
  font-size: 1.25rem;
  margin: 16px;
  text-align: center;
}

.red-bar {
  background-color: #D73648;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  border-radius: 4px;
  padding: 16px;
  margin: 16px;
}
.red-bar > * {
  max-height: 100%;
  text-align: left;
}

.red-button, .white-button {
  border: none;
  border-radius: 2px;
  font-size: 1.25rem;
  margin: 8px auto;
  background-color: #D73648;
  color: #F5F5F5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 16px;
  width: auto;
}
.red-button > img, .white-button > img {
  height: 1em;
  margin: 8px;
}

.white-button {
  background-color: #F5F5F5;
  color: #353535;
}

.app-finder-container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px;
}
.app-finder-container > section {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  padding: 16px 8px;
  width: 50%;
  background-color: #F5F5F5;
}

.app-finder-button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.app-finder-button-container > * {
  margin: 4px;
}

.app-finder-head-text {
  margin: 0;
  font-size: 3rem;
  margin: 16px;
}

.app-finder-box-text {
  margin: 0;
  font-size: 2rem;
  margin: 16px;
}

.app-finder-solution {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.solution-cards-container {
  display: flex;
}

.progress-bar {
  height: 30px;
  background-color: #D73648;
  width: 50%;
  padding: 8px;
  border-radius: 4px;
}

.tool-nav-container {
  display: flex;
  justify-content: center;
}
.tool-nav-container > button {
  margin: 16px;
  padding: 8px 16px;
}

.app-finder-page {
  position: relative;
  min-height: 55vh;
}

* {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #F5F5F5;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  min-height: 100vh;
}

/*# sourceMappingURL=output.css.map */
